{% extends "layout.html" %}

{% block title %}Device list{% endblock %}
{% block header %}
<h1>Device list</h1>

<p>Here are the devices we found in your network</p>

<p>Last update {{data.last_update | timestamp_to_date}}</p>
{% endblock %}

{% block content %}
    <table id="device_table" style="width:100%">
        <tr>
          <th>IP</th>
          <th>Device name</th>
          <th>Manufacturer</th>
          <th>Scanning</th>
        </tr>
        {% for d in data.device_list %}
        <tr>
            <td>{{ d.IP }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.manufacturer }}</td>
            <td><input type="checkbox" class="device_checkbox" name="scan:{{d.id}}" id="checkbox_device_{{d.id}}" {% if d.victim %}  checked  {% endif %} onchange="updateDevice('{{d.IP}}', {{d.id}})" ></td>
        </tr>
        {% endfor %}
    </table>
    </ul>

    <script>
    // reset all checkboxes to default state, prevent browser from caching
    var allCheckboxes = document.querySelectorAll('input[type=checkbox]');
    // loop on all checkboxes found (trick to iterate on nodeList)
    [].forEach.call(allCheckboxes, function (checkbox) {
        checkbox.checked = checkbox.defaultChecked;
    });



        function updateDevice(ip, id) {
            var box = document.getElementById("checkbox_device_" + id)
            var enable = box.checked;
            var xhttp = new XMLHttpRequest();
            var url = "/update_device?ip=" + ip + "&enable=" + enable; 
            xhttp.open("GET", url, true);
            xhttp.send(); 
        }
    </script>
{% endblock %}