{% extends "layout.html" %}

{% block title %}Domains scores{% endblock %}
{% block header %}
<h1>Domain scores</h1>

<p>This is where you can see some information about the captured traffic</p>

<p>Last update {{data.last_update | timestamp_to_date}}</p>
{% endblock %}

{% block content %}
    <p>
        Use the following list to filter content by device:
    </p>

    <ul id="device_filter_list">

    </ul>

    <table id="domain_list" style="width:100%">
        <thead>
            <th>Device name</th>
            <th>Domain</th>
            <th>Sent</th>
            <th>Received</th>
            <th>Score</th>
        </thead>
        <tbody>
            {% for line in data.table_domains %}
            <tr>
                <td>{{ line["device_name"] }}</td>
                <td>{{ line["domain"] }}</td>
                <td>{{ line["sent_bytes"] }}</td>
                <td>{{ line["received_bytes"] }}</td>
                <td>{{ line["score"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </ul>

    <script src="{{ url_for('static',filename='scripts/filter.js') }}"></script>
    <script>
        var list_devices = {{data.list_devices | tojson}};
        createFilterList(list_devices);
    </script>
{% endblock %}