<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <nav>
        <ul id="navbar-ul">
            <li class="navbar-li"> <a href="/">Home</a> </li>
            <li class="navbar-li"> <a href="/devices">Devices</a> </li>
            <li class="navbar-li"> <a href="/alerts">Alerts</a> </li>
            <li class="navbar-li"> <a href="/domains">Domains</a> </li>
            <li class="navbar-li"> <a href="/config">Config</a> </li>
        </ul>
    </nav>


    <div id="page">
        <header>
            {% block header %}{% endblock %}
        </header>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>


</body>
</html>