{% extends "layout.html" %}

{% block title %}Domains scores{% endblock %}
{% block header %}
<h1>Domain scores</h1>

<p>This is where you can see some information about the captured traffic</p>

<p>Last update {{data.last_update | timestamp_to_date}}</p>
{% endblock %}

{% block content %}
    <table style="width:100%">
        <tr>
          <th>Domain</th>
          <th>Score</th>
        </tr>
        {% for line in data.scores %}
        <tr>
            <td>{{ line["domain"] }}</td>
            <td>{{ '%0.2f'| format(line["score"]) }}</td>
        </tr>
        {% endfor %}
    </table>
    </ul>
{% endblock %}
    
    <script>
        var flows = {{data.flows|tojson}};
        console.log(flows);
    </script>